bazel-*
SDL*.tar.gz
SDL-1.2.15/
SDL_gfx-2.0.24/
*.o
yatc
yatc_cli
dat2json_cli
Tibia.pic
Tibia.dat
Tibia.spr
Tibia.xpm
tibia854.tgz
Makefile
Makefile.in
.deps/
aclocal.m4
autom4te.cache
compile
config.h
config.h.in
config.log
depcomp
install-sh
missing
__all.a
stamp-h1
config.status
configure
yatc.ico.png