[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=YATC
Comment=Yet Another Tibia Client
Comment[hr]=Jao Ajoj Tako Cuckoliko
Exec=yatc
StartupNotify=false
Terminal=false
Type=Application
Icon=nautilus.png
Categories=Application;Game

