# Cut a stamped release.
build:release -c opt --define STAMPED_FOR_RELEASE=1 --stamp --workspace_status_command="$PWD/stamp.sh"

# Use buildbuddy by passing --config=remote.
# This should be fine for this open source project.
build:remote --remote_executor=grpcs://remote.buildbuddy.io
build:remote --host_platform=@buildbuddy_toolchain//:platform
build:remote --platforms=@buildbuddy_toolchain//:platform
build:remote --extra_execution_platforms=@buildbuddy_toolchain//:platform
build:remote --crosstool_top=@buildbuddy_toolchain//:toolchain
build:remote --extra_toolchains=@buildbuddy_toolchain//:cc_toolchain
build:remote --javabase=@buildbuddy_toolchain//:javabase_jdk8
build:remote --host_javabase=@buildbuddy_toolchain//:javabase_jdk8
build:remote --java_toolchain=@buildbuddy_toolchain//:toolchain_jdk8
build:remote --host_java_toolchain=@buildbuddy_toolchain//:toolchain_jdk8
build:remote --define=EXECUTOR=remote
build:remote --define=libsdl12_linux_deps_bin=true

build:remote --bes_results_url=https://app.buildbuddy.io/invocation/
build:remote --bes_backend=grpcs://remote.buildbuddy.io
build:remote --remote_cache=grpcs://remote.buildbuddy.io
build:remote --remote_timeout=3600
build:remote --remote_executor=grpcs://remote.buildbuddy.io

# build:remote --build_metadata=REPO_URL=https://github.com/ivucica/glict
# build:remote --build_metadata=VISIBILITY=PUBLIC  # default for unauthenticated, could be put into buildbuddysecrets if authenticated
build:remote --workspace_status_command=$(pwd)/workspace_status.sh

# readonly:
#build:remote --noremote_upload_local_results # Uploads logs & artifacts without writing to cache
# toplevel:
#build:remote --remote_download_toplevel # Helps remove network bottleneck if caching is enabled

build:remote --jobs=50

# Use buildbuddy for cache only, by passing --config=remotecache.
# This should be fine for this open source project.
build:remotecache --bes_results_url=https://app.buildbuddy.io/invocation/
build:remotecache --bes_backend=grpcs://remote.buildbuddy.io
build:remotecache --remote_cache=grpcs://remote.buildbuddy.io
build:remotecache --remote_timeout=3600
build:remotecache --remote_executor=grpcs://remote.buildbuddy.io

# build:remotecache --build_metadata=REPO_URL=https://github.com/ivucica/glict
# build:remotecache --build_metadata=VISIBILITY=PUBLIC  # default for unauthenticated, could be put into buildbuddysecrets if authenticated
build:remotecache --workspace_status_command=$(pwd)/workspace_status.sh


# readonly:
#build:remotecache --noremote_upload_local_results # Uploads logs & artifacts without writing to cache
# toplevel:
#build:remotecache --remote_download_toplevel # Helps remove network bottleneck if caching is enabled

try-import %workspace%/.bazelrc.buildbuddysecrets

# In devcontainer: use our custom-configured c++ toolchain valid inside the 20.04 devcontainer.
build:devcontainer --crosstool_top=//.devcontainer/bazel-toolchains:clang_suite
# Use --cpu as a differentiator.
build:devcontainer --cpu=k8
# Use the default Bazel C++ toolchain to build the tools used during the
# build.
build:devcontainer --host_crosstool_top=@bazel_tools//tools/cpp:toolchain
