<h2>YATC - Yet Another Tibia Client</h2>
<h1>{{ page.title }}</h1>

<a href="{{ site.baseurl }}">Home</a> --
<a href="{{ site.baseurl }}{% link downloads.html %}">Downloads</a> --
<a href="{{ site.baseurl }}{% link releases.html %}">Releases </a> --
<a href="{{ site.baseurl }}{% link screenshots.html %}">Screenshots </a> --
<a href="{{ site.baseurl }}{% link additional-tools.html %}">Additional Tools</a> --
<a href="{{ site.baseurl }}{% link contributions.html %}">Contributions </a> --
<a href="{{ site.baseurl }}{% link pocketpc.html %}">PocketPC </a> --
<a href="{{ site.baseurl }}{% link use-on-cipsoft-tibia-servers.html %}">Use On CipsoftTibia Servers </a> --
<a href="{{ site.baseurl }}{% link contact.html %}">Contact </a> --
<a href="{{ site.baseurl }}{% link customization-faq.html %}">Customization FAQ </a>
<hr>

{{ content }}

<hr>

<h6>moved to new hosting by ivucica 2016</h6>
<h6>most content has not been updated since 2010 despite the move!</h6>
